<p id="notice"><%= notice %></p>

<h1>Price Queries</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_queries.each do |price_query| %>
      <tr>
        <td><%= price_query.price %></td>
        <td><%= link_to 'Show', price_query %></td>
        <td><%= link_to 'Edit', edit_price_query_path(price_query) %></td>
        <td><%= link_to 'Destroy', price_query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price Query', new_price_query_path %>
