<!DOCTYPE html>
<html>
  <head>
    <title>Sales Wink | Track prices across the web</title>
    <meta name = "description" content="Know when top deals happen across the web" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <link rel="stylesheet"
      href="https://sdks.shopifycdn.com/polaris/3.21.0/polaris.min.css"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
